<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="BaseURISpotify" value="https://accounts.spotify.com" />
	<parameter name="BaseURISpotifyForGetProfile" value="https://api.spotify.com" />
	
	<parameter name="BasePathTokenRefresh" value="/api/token" />
	<parameter name="BasePathForSelfProfile" value="/v1/me" />
	<parameter name="BasePathForSelfPlaylist" value="/v1/me/playlists" />
	<parameter name="BasePathForGettingAllGenres" value="/v1/recommendations/available-genre-seeds" />
	<parameter name="BasePathForGettingAllCategories" value="/v1/browse/categories" />
	<parameter name="BasePathForGettingFeaturedPlaylist" value="/v1/browse/featured-playlists" />
	<parameter name="BasePathForSearchingSongTrack" value="/v1/search" />
	<parameter name="BasePathForCreatingPlaylist" value="v1/users/kphy7tq88yw5z6a7qokev1xdx/playlists" />
	<parameter name="BasePathForAddingSongsToUserPlaylist" value="/v1/playlists" />
	
	<parameter name="Client_ID" value="Please provide your own client id for spotify app" />
	<parameter name="Grant_type" value="refresh_token" />
	<parameter name="Client_Secret" value="Please provide your own client secret for spotify app" />
	<parameter name="Ref_Token" value="Please provide your refresh token and based on value received provide your own Bearer token below in Authorization" />
  	<parameter name="Authorization" value="Bearer BQDm7FcZo8qjZp6MJk40N-HaeZf44ivu5Lo5SBcuLRZxIklUWGt6iYpsr2c4flhLB3c8UtuYx23tVlpJnp2TjPo0RZr8xSoZx-o3GxsLNHz_cc_a-3NwyDI2Uko_7WsByVJIlqde2kVOQT51nJE7euvCtwwluDw7FhfLyXFhQmXMFVGLNgVcpnX5ItwGMr2SfuC3bsCUiXLnSU5h_53Dpd8tNaZOpeXWbr_akSHsfOnj" />	
  	
  	<parameter name="DatafilePath" value="src/main/resources/DataFiles/ReorderingPlaylistTracks.json" />
  	<parameter name="SpotifyUSerID" value="kphy7tq88yw5z6a7qokev1xdx" />
  	<parameter name="CountryCode" value="IN" />
  	<parameter name="CategoryID" value="devotional" />
  	<parameter name="QueryName" value="Tu hi mera Jannat 2" />
  	<parameter name="Type" value="track" />
  	<parameter name="Limit" value="10" />
  	<parameter name="Include_External" value="No" />
  	<parameter name="Playlist_id" value="6u86QJxVz0aK3XHexo9RPk" />
  	<parameter name="FilterOutSongsFromPlaylistQuery" value="items.track.album(!available_markets,artists,external_ids,external_urls)" />
  	
  		<test thread-count="5" name="Test">
  			<classes>
  				<class name="com.Rest.Spotify_PlaylistsAPI.RequestPUTReorderUserPlaylistItems">
				</class>
			</classes>
  		</test> 
</suite> 	